@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>This Windows application enabled with the docker and the contianer used is Windows container </p>
</div>
