@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Windows Container </h1>
    <p>This Windows application enabled with the docker and the Target OS as Windows</p>
</div>
